@{
    ViewData["Title"] = "Top Restaurants in Provo";
}

@model IEnumerable<string> 

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <ul class="list-group list-group-flush">
        @foreach (string r in Model)
        {
            <li class="list-group-item">@r</li>
        }
    </ul>

</div>

